<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWarehousesService" />
      </basicHttpBinding>
      <!--<basicHttpBinding>
        <binding name="BasicHttpBinding_IProductsService" />
      </basicHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPartnersService" />
      </basicHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGroupsService" />
      </basicHttpBinding>-->
    </bindings>
    <client>
      <endpoint address="http://localhost:53474/WarehousesService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWarehousesService"
        contract="WMS.ServicesInterface.ServiceContracts.IWarehousesService" name="BasicHttpBinding_IWarehousesService" />
      
    </client>
  </system.serviceModel>
</configuration>