<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWarehousesService" />
        <binding name="BasicHttpBinding_IPartnersService" />
        <!--<binding name="BasicHttpBinding_IProductsService" />-->
        <!--<binding name="BasicHttpBinding_IGroupsService" />-->
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:53474/WarehousesService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWarehousesService"
        contract="WMS.ServicesInterface.ServiceContracts.IWarehousesService" name="BasicHttpBinding_IWarehousesService" />
      
      <endpoint address="http://localhost:53474/PartnersService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPartnersService"
        contract="WMS.ServicesInterface.ServiceContracts.IPartnersService" name="BasicHttpBinding_IPartnersService" />
      
    </client>
  </system.serviceModel>
</configuration>